/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f8f8fa;
}
header{
  background-color: #0631ed;
}
nav{
  display: flex;
  color: #ffffff;
  padding: 1rem 3rem;
  justify-content: space-between;
  
}
.nav-links a{
  margin: 0 1rem;
  font-size: 1.13rem;
}
nav button{
  background-color: #f8f8fa;
  color: #070763;
  padding: .3rem;
  outline: none;
  border: none;
}
.hero{
  display: flex;
  justify-content: space-between;
}
.hero-text{
  color: #fff;
  padding: 7rem 3rem;
}
.hero-text h2{
  font-size: 2.2rem;
}
.hero-text p{
  font-size: 1rem;
  margin-top: 1.5rem;
}
.hero-image{
   height: 1px;
  }
@media (max-width: 576px){
  .hero{
    flex-direction: column-reverse;
    height: 130vh;

  }
  nav{
    padding: 1rem 2rem;
  }
  nav img{
    width: 80px;
    height: 40px;
    margin-top: 10px;
  }
  .nav-links a{
    padding: 1rem;
    margin-left: 1.5rem;
  }
  nav button{
    margin: 1rem;
  }
  .hero-image img{
    width: 103%;
    margin-left: -1rem;
    margin-top: 2rem;
    border-radius: 0 50px 60px 0;
  }
  .hero-text{
  padding: 2rem;
  }
  .hero-text h2{
    font-size: 1.8rem;
  }
  
  .companies a{
    display: none;
  }
  .cards{
    flex-direction: column;
    align-items: center;
    /* height: 400px; */
  }
  .card{
    width: 250px;
    margin-top: 2rem;
  }
}
/* ---------------Nav end------------ */
.companies{
  margin-top: 1rem;
}
.companies a{
  padding: 1rem;
  font-size: 1.25rem;
  color: #000;
  text-decoration: none;
  font-weight: 800;
  font-family:sans-serif;
}
.api{
  margin-top: 5rem;
}

.api h1{
  font-size: 2rem;
  padding-left: 3rem;
  /* margin-top: 130px; */
  /* margin-left:45px; */
}
.cards{
  display: flex;
  /* margin: 30px 40px 80px 0px; */
  padding: 3rem;
  justify-content: space-between;

}
.card-active{
  width: 250px;
  height: 220px;
  box-shadow: 5px 10px 15px 2px #ccccc8;
  background-color: #f5f5f5;
  padding: 1rem;

}
.card-active:hover{
  cursor: pointer;
  transition: 0.5s ease;
}
.card{
  /* border: 3px solid red; */
  /* width: ; */
  height: 250px;
  padding: 1rem;
}
.card:hover{
  cursor: pointer;
  box-shadow: 5px 10px 15px 2px #ccccc8;
  background-color: #f5f5f5;
  transition: 0.5s ease;
}
.cards .card-head-active,h3{
  margin: 30px 0px;
  line-height: 30px;

}
.cards .card-body{
  margin: -30px 0;
  color: #000;
}
/* ----------------Blog---------- */
.blog-heading{
  padding-top: 5rem;

}
.blog-heading h1{
  font-size: 2rem;
  padding-left: 3rem;
}
.blog-cards{
  display: flex;
  max-width: 100%;
}
@media (max-width: 567px){
.blog-cards{
  flex-direction: column;
}
}
.blog-card{
  margin-top: 10px;
  margin-left: 45px;
  display: flex;
  /* float: left; */
}
.blog-content{
  padding: 20px;
  width: 200px;
  /* height: 290px; */
  margin-left: 20px;
  width: 300px;
}
.blog-name{
  padding-top: 1.5rem;
}
.blog-card-bottom-image{
  width: 40px;
}
.blog-content h4{
  margin-top: -2.5rem;
  margin-left: 3rem;
}

.faq-section{
  display: flex;
  margin-top: 6rem;
}
.faq{
  background-color: #edebf6;
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.faq-content h2{
  color: #000;
  font-size: 32px;
  margin-left: 30px;
  margin-top: 20px;
}
.faq-content h4{
  margin: 30px;
  font-weight: 600;
}
.faq-section button{
  margin-left: 30px;
  background-color: #0505f7b1;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}
.faq-image img{
  justify-content: right;
}
.download-section{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5rem 2rem;
}
.download-content h1{
  /* max-width: 100%; */

}
@media (max-width: 576px){
  .faq-image img{
    display: none;
  }
  .download-section{
    display: block;
  }
  .download-email input{
    width: 450px;
    margin-top: 1rem;
  }
}
span{
  color: gray;
}
input{
  width: 560px;
  height: 50px;
  border-radius: 20px;
  background-color: #edebf6;
  border: none;
  outline: none;
  padding: 8px 20px;

}
.download-email button{
  /* width: 150px; */
  /* height: 35px; */
  background-color:  #0505f7b1;
  border-radius: 20px;
  /* position: absolute; */
  margin-left: -155px;
  margin-top: 5px;
  border: none;
  outline: none;
  padding: .5rem 1.5rem;
}
.footer-section{
  width: 100%;
  margin-top: 100px;
  display: flex;
  background-color: #0631ed;
  justify-content: space-between;

}
.footer-logo{
  padding: 1rem;
}
.footer-left ul li{
  list-style: none;
}

.list-items{
  margin: 1rem 3rem;
  color: #ccccc8;
  display: inline-block;
}
.list-items::after{
  content: '';
  width: 2px;
  height: 1.25rem;
  margin-top: -20px;
  margin-left: -20px;
  display: block;
  background: #fff;
}
.footer-right ul li{
  list-style: none;
}

@media (max-width: 576px){

.footer-section{
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.list-items{
  margin: 1rem;
}
}